body {
    /*    background-image: url("https://i.pinimg.com/originals/9b/2b/11/9b2b11b7ab6727bf65493a5d1cf52e5c.jpg");*/
    background-image: url("https://media.istockphoto.com/vectors/notes-pattern-on-beige-background-music-sheet-music-vector-id914020750?k=6&m=914020750&s=612x612&w=0&h=Bw5fLNGb8S1OwlX6WrPzUrGGs4sC1HjV8dqggUf27XY=");
    background-size: 314px;
}
main {
    background-color: white;
    border-left: 2px solid #eb9f22;
    border-right: 2px solid #eb9f22;
}
#SRC {
    color: #eb9f22;
}
#add_new{display: flex;margin-top: 2px;}

.seed-page {
    display: flex;
    flex-direction: row;
}

main {
    background-color: white;
    border-left: 2px solid #eb9f22;
    border-right: 2px solid #eb9f22;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom: 2px solid #eb9f22;
}

#SRC {
    color: #eb9f22;
}

#add_new {
    display: flex;
    margin-top: 2px;
}

#main_div {
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-direction: row; */
    font-weight: bold;
    font-size: 23px;
    margin: 10px 10px 10px 10px !important;
    /* margin-right: 10px; */
}

#left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#search_caption {
    /* width: 80%; */
}

#right {
    min-width: 400px;
    /* padding-left: 62px; */
    /* border-left: 2px solid #eb9f22; */
}

.input_field {
    width: 92%;
    border: 2px solid #eb9f22;
    font-weight: 700;
    font-size: 23px;
    /* margin-right: 42px; */
}


#button-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}


#item_AuthorSearch {
    width: 20px;
    height: 20px;
}



